{% extends 'main_app/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Рассылка: {{ object.name|title }}</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Тема письма: {{ object.letter }}</li>
                    <li>Время начала рассылки: {{ object.first_sending_time|date:"d/m/Y, H:i" }}</li>
                    <li>Период: {{ object.period }}</li>
                    <li>Время конца: {{ object.end_datetime|date:"d/m/Y, H:i" }}</li>
                    <li>Владелец: {{ object.created_by }}</li>
                    <li>Клиенты: {% for client in object.client_emails.all %} {{ client.email }}</li> {% endfor %}
                </ul>
                {% if user.is_superuser or user == object.created_by %}
                <div class="mb-3">
                    <a href="{% url 'main_app:update_mailing' object.pk %}" class="w-100 btn btn-lg btn-outline-primary">Редактировать</a>
                </div>
                <div class="mb-3">
                    <a href="{% url 'main_app:delete_mailing' object.pk %}" class="w-100 btn btn-lg btn-outline-danger">Удалить</a>
                </div>
                {% endif %}
                <div class="mb-3">
                    <a href="{% url 'main_app:mailing_page' %}" class="w-100 btn btn-lg btn-outline-primary">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
